{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                    <a href="{{url_for('main.all')}}">
               </a>

            </div>
        </div>
       
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{wtf.quick_form(new_pitch_form)}}
            </div>
        </div>
        
    </div>

   
{% endblock %}
